In [2]:
import pandas as pd
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from dateutil import parser

In [4]:
dataset=pd.read_csv('ipl.csv',index_col=0)

In [5]:
dataset.head(2)

,city,date,gender,match_type,player of the match,team 1,team 2,team_1_batting_average,team_1_bowling_average,team_2_batting_average,team_2_bowling_average,toss_decision,toss_winner,umpire_1,umpire_2,venue,win_by_runs,win_by_wickets,winner
0,Bangalore,2008-04-18,male,T20,BB McCullum,Kolkata Knight Riders,Royal Challengers Bangalore,5.0,5.0,3.0,12.0,field,Royal Challengers Bangalore,Asad Rauf,RE Koertzen,M Chinnaswamy Stadium,140,0,Kolkata Knight Riders
1,Chandigarh,2008-04-19,male,T20,MEK Hussey,Chennai Super Kings,Kings XI Punjab,5.0,54.0,5.0,47.0,bat,Chennai Super Kings,MR Benson,SL Shastri,"Punjab Cricket Association Stadium, Mohali",33,0,Chennai Super Kings

In [6]:
dataset.columns

Index(['city', 'date', 'gender', 'match_type', 'player of the match', 'team 1',
       'team 2', 'team_1_batting_average', 'team_1_bowling_average',
       'team_2_batting_average', 'team_2_bowling_average', 'toss_decision',
       'toss_winner', 'umpire_1', 'umpire_2', 'venue', 'win_by_runs',
       'win_by_wickets', 'winner'],
      dtype='object')

In [7]:
count=Counter(dataset.winner)
count

Counter({'Kolkata Knight Riders': 77,
         'Chennai Super Kings': 79,
         'Delhi Daredevils': 62,
         'Royal Challengers Bangalore': 72,
         'Rajasthan Royals': 61,
         'Kings XI Punjab': 68,
         'Deccan Chargers': 29,
         'Mumbai Indians': 91,
         'tie': 7,
         'Pune Warriors': 12,
         'Kochi Tuskers Kerala': 6,
         'Sunrisers Hyderabad': 41,
         'no result': 1,
         'Rising Pune Supergiants': 5,
         'Gujarat Lions': 13,
         'Rising Pune Supergiant': 10})

removing tie and no result entries

In [8]:
dataset.drop((dataset[dataset.winner=='tie'].index) | (dataset[dataset.winner=='no result'].index),inplace=True)

In [9]:
#finding maximum "win by runs" of each team
a=dataset.winner.unique()
dictteam=dict.fromkeys(a,0) 
for i in dictteam:
    max_runs=dataset[dataset['winner']==i]['win_by_runs'].max()
    temp="{name}:{val}"
    print(temp.format(name=i,val=str(max_runs)))

Kolkata Knight Riders:140
Chennai Super Kings:97
Delhi Daredevils:97
Royal Challengers Bangalore:144
Rajasthan Royals:105
Kings XI Punjab:111
Deccan Chargers:82
Mumbai Indians:146
Pune Warriors:38
Kochi Tuskers Kerala:17
Sunrisers Hyderabad:85
Rising Pune Supergiants:34
Gujarat Lions:1
Rising Pune Supergiant:61

as can be seen gujrat lions wins by one run max, so lets have a look

In [10]:
#finding the maximum decision taken by the gujarat lions
tdecision=Counter(dataset[dataset.winner=='Gujarat Lions']['toss_decision'])
print(tdecision)

Counter({'field': 11, 'bat': 2})

so basically gujarat lions choose to feild first most of the times(quite usual, nothing special)

In [11]:
#finding the relation between winning/loosing and toss wins  for gujarat lions
loss=dataset[((dataset['team 1']=='Gujarat Lions')|(dataset['team 2']=='Gujarat Lions'))&(dataset.winner!='Gujarat Lions')]['toss_winner']
win=dataset[((dataset['team 1']=='Gujarat Lions')|(dataset['team 2']=='Gujarat Lions'))&(dataset.winner=='Gujarat Lions')]['toss_winner']

In [12]:
wincount=Counter(win)
wincount

Counter({'Gujarat Lions': 10,
         'Rising Pune Supergiants': 1,
         'Royal Challengers Bangalore': 1,
         'Delhi Daredevils': 1})

In [13]:
losscount=Counter(loss)
losscount

Counter({'Sunrisers Hyderabad': 5,
         'Gujarat Lions': 4,
         'Delhi Daredevils': 3,
         'Royal Challengers Bangalore': 1,
         'Kolkata Knight Riders': 1,
         'Mumbai Indians': 1,
         'Rising Pune Supergiant': 1})

Now we know this now that if gujarat lions win the toss, they are very likely to win and highly likely to feild What we can assume from here is that toss decision and winning has some significant weight for atleast one team, lets check for other teams

In [19]:
#making a seprate dataset to test the hypothesis  that if a team wins the toss, it's more likely to win
teamlist=dataset.winner.unique()
team_toss=pd.DataFrame()
team_toss['teamname']=teamlist
team_toss['game_win_toss_win_count']=0
team_toss['game_loose_toss_win_count']=0
team_toss

,teamname,game_win_toss_win_count,game_loose_toss_win_count
0,Kolkata Knight Riders,0,0
1,Chennai Super Kings,0,0
2,Delhi Daredevils,0,0
3,Royal Challengers Bangalore,0,0
4,Rajasthan Royals,0,0
5,Kings XI Punjab,0,0
6,Deccan Chargers,0,0
7,Mumbai Indians,0,0
8,Pune Warriors,0,0
9,Kochi Tuskers Kerala,0,0
10,Sunrisers Hyderabad,0,0
11,Rising Pune Supergiants,0,0
12,Gujarat Lions,0,0
13,Rising Pune Supergiant,0,0

In [20]:
#counting toss wins for the decision in the teams favour
for i in team_toss.teamname:
    ll=dataset[((dataset['team 1']==i)|(dataset['team 2']==i))&(dataset.winner==i)]['toss_winner']
    ct=Counter(ll)
    team_toss.loc[team_toss.teamname == i, 'game_win_toss_win_count'] = ct[i]

In [21]:
#counting toss wins for the decision not in the teams favour
for i in team_toss.teamname:
    ll=dataset[((dataset['team 1']==i)|(dataset['team 2']==i))&(dataset.winner!=i)]['toss_winner']
    ct=Counter(ll)
    team_toss.loc[team_toss.teamname == i, 'game_loose_toss_win_count'] = ct[i]

In [22]:
#creating a seprate column to count
team_toss['TF']=team_toss.apply(lambda x: x['game_win_toss_win_count']>=x['game_loose_toss_win_count'],axis=1)

In [23]:
truefalse=Counter(team_toss['TF'])
truefalse

Counter({True: 8, False: 6})

Well, it's not much, but the data is small and it kindof proves the hypothesis to a certain extent that it qualifies as a parameter for predicting the outcome of the match

In [24]:
dataset.isnull().any()

city                       True
date                      False
gender                    False
match_type                False
player of the match       False
team 1                    False
team 2                    False
team_1_batting_average    False
team_1_bowling_average    False
team_2_batting_average    False
team_2_bowling_average    False
toss_decision             False
toss_winner               False
umpire_1                   True
umpire_2                   True
venue                     False
win_by_runs               False
win_by_wickets            False
winner                    False
dtype: bool

In [25]:
#filling up city values with mode
dataset['city'].fillna(dataset['city'].mode()[0], inplace=True)

In [26]:
#dropping columns
dataset.drop(columns=['gender', 'match_type','umpire_1','umpire_2'],inplace=True)

In [28]:
#ML stuff
winner=dataset['winner']
features = dataset.drop('winner',axis=1)
features = pd.get_dummies(features)
X_train, X_test, y_train, y_test = train_test_split(features, winner, test_size=0.33, random_state=42)
clf=RandomForestClassifier()
clf.fit(X_train,y_train)
accuracy_score(y_test,clf.predict(X_test))

0.8067632850241546